.hero{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 90% );
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    display: flex;
    justify-content:center;

    .container{
        display: flex;
        align-items: center;
    }
    h1{
        color: white;
        text-shadow: 0px 3px 0px rgba(0,0,0,.1),
                    0px 0px 10px rgba(0,0,0,.2);
    }
    p{
        color: white;
        text-shadow: 0px 3px 0px rgba(0,0,0,.1),
                    0px 0px 10px rgba(0,0,0,.2);
    }
    figure{
        padding:0;
    }

    @media (max-width:768px){
        min-height: 100vh;
        height: auto;
        display: block;

        h1{
            line-height: 1em;
        }

        .button{
            margin-bottom: 1em;
        }
    
        .container{
            flex-direction: column;
            padding-top: 130px;
            display: block;
        }
    }

}

